.header {
    display: flex;
    gap: 1em;

    width: 100%;
}

.spacer-left {
    margin-left: auto;
}

.header > * {
    font-size: 1.5em;
    padding: 1em 2em;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
}