.App {
  text-align: center;
  background-color: var(--color-background);
}

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.grid-span-2 {
  grid-column-start: span 2;
}

.button {
  background-color: red;
  padding: 1em 2em;
  width: 50%;
  border-radius: 25%;
}